* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  font-family: "Varela Round", sans-serif;
}
.logo {
  font-size: 2.5rem;
  font-weight: 600;
  letter-spacing: 0.3rem;
  color: rgb(39, 38, 23);
  font-family: "Anton", sans-serif;
}
nav {
  display: flex;
  justify-content: space-between;
  padding: 0 3rem;
  height: 7rem;
  align-items: center;
  background-color: rgb(253, 240, 61);
}
.nav-links {
  list-style: none;
  display: flex;
  min-width: 40%;
  justify-content: space-around;
  transition: all 0.3s ease;
}
li a {
  font-size: rem;
  text-decoration: none;
  color: rgb(39, 38, 23);
  transition: all 0.1s ease;
}
li a:hover {
  color: rgb(136, 29, 131);
}
.nav-btn div {
  height: 0.12rem;
  width: 1.3rem;
  margin: 0.09rem;
  border-radius: 0.01rem;
  background-color: rgb(39, 38, 23);
  transition: all 0.3s ease;
  border-radius: 0.1rem;
}
.change .bar1 {
  transform: rotate(-45deg) translate(-4px, 5px);
}
.change .bar2 {
  opacity: 0;
}
.change .bar3 {
  transform: rotate(45deg) translate(-2px, -3px);
}
.nav-btn {
  display: none;
}
@media (max-width: 1100px) {
  .nav-links {
    min-width: 50%;
  }
}
@media (max-width: 850px) {
  .nav-links {
    min-width: 60%;
  }
}
@media (max-width: 700px) {
  .nav-links {
    min-width: 70%;
  }
}
@media (max-width: 650px) {
  body {
    overflow-x: hidden;
  }
  .nav-links {
    position: absolute;
    min-width: 50%;
    top: 7rem;
    right: 0;
    align-items: center;
    display: flex;
    flex-direction: column;
    height: 85vh;
    background-color: rgb(253, 240, 61);
    transform: translateX(100%);
  }
  .nav-btn {
    display: flex;
    flex-direction: column;
    align-self: center;
  }
}
.nav-links-active {
  transform: translateX(0);
}
